.version.index /* version checker */
{
	color: #00000D;
	background-color: #60FCFB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.6500000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -24px;
	padding-top: 24px;
	width: 0.01px;
}

#pu492-6
{
	width: 0.01px;
	margin-left: 53px;
}

#u492-6
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#menuu493
{
	z-index: 9;
	width: 307px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 552px;
}

#u534
{
	width: 75px;
	min-height: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u535
{
	width: 75px;
	background-color: #C4C4C4;
	padding-bottom: 10px;
	position: relative;
}

#u536-4
{
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 0px;
}

#u536-4_clip
{
	overflow: hidden;
	width: 75px;
	height: 13px;
	vertical-align: top;
}

#u536-4_img
{
	display: block;
}

#u515
{
	width: 75px;
	min-height: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 77px;
}

#u516
{
	width: 75px;
	background-color: #C4C4C4;
	padding-bottom: 10px;
	position: relative;
}

#u535.MuseMenuActive,#u516:hover
{
	background-color: #999999;
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u519
{
	height: 13px;
	width: 75px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../images/u519.png") no-repeat 0px 0px;
}

#u516.MuseMenuActive #u519
{
	background: url("../images/u519-a.png") no-repeat 0px 0px;
}

#u1080
{
	width: 75px;
	min-height: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u1081
{
	width: 75px;
	background-color: #C4C4C4;
	padding-bottom: 10px;
	position: relative;
}

#u1081:hover
{
	background-color: #999999;
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u516:active,#u1081:active
{
	background-color: #6B6B6B;
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1082
{
	height: 13px;
	width: 75px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../images/u1082.png") no-repeat 0px 0px;
}

#u1081.MuseMenuActive #u1082
{
	background: url("../images/u1082-a.png") no-repeat 0px 0px;
}

#u710
{
	width: 76px;
	min-height: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 231px;
}

#u713
{
	width: 76px;
	background-color: #C4C4C4;
	padding-bottom: 10px;
	position: relative;
}

#u713:hover
{
	background-color: #999999;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u713:active
{
	background-color: #6B6B6B;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u716
{
	height: 13px;
	width: 76px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../images/u716.png") no-repeat 0px 0px;
}

#u713.MuseMenuActive #u716
{
	background: url("../images/u716-a.png") no-repeat 0px 0px;
}

#u491
{
	z-index: 2;
	width: 858px;
	height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	margin-left: 53px;
	margin-top: 22px;
	position: relative;
}

#slideshowu854
{
	z-index: 31;
	width: 0.01px;
	height: 360px;
	margin-left: 240px;
	margin-top: 48px;
	position: relative;
}

#u870
{
	position: absolute;
	width: 480px;
	height: 360px;
	background-color: transparent;
}

#u870popup
{
	z-index: 32;
}

#u875
{
	z-index: 33;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u871
{
	z-index: 35;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u873
{
	z-index: 37;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u875_clip,#u871_clip,#u873_clip
{
	overflow: hidden;
	width: 480px;
	height: 360px;
}

#u875_img,#u871_img,#u873_img
{
	margin-left: -30px;
	margin-right: -30px;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u895-4
{
	z-index: 39;
	width: 535px;
	min-height: 49px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	letter-spacing: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 240px;
	margin-top: 14px;
	position: relative;
}

#u918-4
{
	z-index: 43;
	width: 159px;
	min-height: 16px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 400px;
	margin-top: 69px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

