.version.log_in /* version checker */
{
	color: #0000FB;
	background-color: #2165F7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -27px;
	padding-top: 24px;
	width: 0.01px;
}

#pu682-6
{
	width: 0.01px;
	margin-left: 53px;
}

#u682-6
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#menuu637
{
	z-index: 14;
	width: 307px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 552px;
}

#u638
{
	width: 75px;
	min-height: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u639
{
	width: 75px;
	background-color: #C4C4C4;
	padding-bottom: 10px;
	position: relative;
}

#u639:hover
{
	background-color: #999999;
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u640
{
	height: 13px;
	width: 75px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../images/u640.png") no-repeat 0px 0px;
}

#u639.MuseMenuActive #u640
{
	background: url("../images/u640-a.png") no-repeat 0px 0px;
}

#u659
{
	width: 75px;
	min-height: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 77px;
}

#u662
{
	width: 75px;
	background-color: #C4C4C4;
	padding-bottom: 10px;
	position: relative;
}

#u662:hover
{
	background-color: #999999;
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u664
{
	height: 13px;
	width: 75px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../images/u664.png") no-repeat 0px 0px;
}

#u662.MuseMenuActive #u664
{
	background: url("../images/u664-a.png") no-repeat 0px 0px;
}

#u1087
{
	width: 75px;
	min-height: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u1088
{
	width: 75px;
	background-color: #C4C4C4;
	padding-bottom: 10px;
	position: relative;
}

#u1088:hover
{
	background-color: #999999;
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u639:active,#u662:active,#u1088:active
{
	background-color: #6B6B6B;
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1089
{
	height: 13px;
	width: 75px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../images/u1089.png") no-repeat 0px 0px;
}

#u1088.MuseMenuActive #u1089
{
	background: url("../images/u1089-a.png") no-repeat 0px 0px;
}

#u724
{
	width: 76px;
	min-height: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 231px;
}

#u727
{
	width: 76px;
	background-color: #C4C4C4;
	padding-bottom: 10px;
	position: relative;
}

#u727.MuseMenuActive
{
	background-color: #999999;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u729-4
{
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 0px;
}

#u729-4_clip
{
	overflow: hidden;
	width: 76px;
	height: 13px;
	vertical-align: top;
}

#u729-4_img
{
	display: block;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u700
{
	z-index: 3;
	width: 858px;
	height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	margin-left: 53px;
	margin-top: 22px;
	position: relative;
}

#u701-4
{
	z-index: 4;
	width: 370px;
	min-height: 35px;
	background-color: transparent;
	letter-spacing: 3px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-left: 297px;
	margin-top: 38px;
	position: relative;
}

#u701-2
{
	padding-left: 6px;
}

#pu1006
{
	width: 0.01px;
	margin-left: 248px;
	margin-top: 39px;
}

#u1006
{
	z-index: 2;
	width: 467px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 8px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1002-7
{
	z-index: 40;
	width: 410px;
	min-height: 260px;
	background-color: transparent;
	letter-spacing: 2px;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 29px;
}

#buttonu1003
{
	z-index: 47;
	width: 180px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 142px;
}

#buttonu1003:hover
{
	background-color: #545454;
	width: 180px;
	min-height: 0px;
	margin: 242px -10000px 0px 0px;
}

#buttonu1003.ButtonSelected
{
	background-color: #CACACA;
	width: 180px;
	min-height: 0px;
	margin: 242px -10000px 0px 0px;
}

#u1004-4
{
	z-index: 48;
	width: 88px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	font-size: 14px;
	text-align: center;
	color: #3C3C3C;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 46px;
}

#buttonu1003:hover #u1004-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1003.ButtonSelected #u1004-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1003:hover #u1004-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1003.ButtonSelected #u1004-4 p
{
	color: #3C3C3C;
	visibility: inherit;
}

#u921-4
{
	z-index: 36;
	width: 159px;
	min-height: 16px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 400px;
	margin-top: 74px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

