.version.sign_up /* version checker */
{
	color: #000010;
	background-color: #392E30;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 860px;
	min-height: 466px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 24px 47px 10px 53px;
}

#pu1038-6
{
	width: 0.01px;
}

#u1038-6
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#menuu1012
{
	z-index: 14;
	width: 307px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 552px;
}

#u1027
{
	width: 75px;
	min-height: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1030
{
	width: 75px;
	background-color: #C4C4C4;
	padding-bottom: 10px;
	position: relative;
}

#u1030:hover
{
	background-color: #999999;
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1032
{
	height: 13px;
	width: 75px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../images/u1032.png") no-repeat 0px 0px;
}

#u1030.MuseMenuActive #u1032
{
	background: url("../images/u1032-a.png") no-repeat 0px 0px;
}

#u1020
{
	width: 75px;
	min-height: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 77px;
}

#u1021
{
	width: 75px;
	background-color: #C4C4C4;
	padding-bottom: 10px;
	position: relative;
}

#u1021:hover
{
	background-color: #999999;
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1030:active,#u1021:active
{
	background-color: #6B6B6B;
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1022
{
	height: 13px;
	width: 75px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../images/u1022.png") no-repeat 0px 0px;
}

#u1021.MuseMenuActive #u1022
{
	background: url("../images/u1022-a.png") no-repeat 0px 0px;
}

#u1094
{
	width: 75px;
	min-height: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u1097
{
	width: 75px;
	background-color: #C4C4C4;
	padding-bottom: 10px;
	position: relative;
}

#u1097.MuseMenuActive
{
	background-color: #999999;
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1099-4
{
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 0px;
}

#u1099-4_clip
{
	overflow: hidden;
	width: 75px;
	height: 13px;
	vertical-align: top;
}

#u1099-4_img
{
	display: block;
}

#u1013
{
	width: 76px;
	min-height: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 231px;
}

#u1016
{
	width: 76px;
	background-color: #C4C4C4;
	padding-bottom: 10px;
	position: relative;
}

#u1016:hover
{
	background-color: #999999;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u1016:active
{
	background-color: #6B6B6B;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u1017
{
	height: 13px;
	width: 76px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../images/u1017.png") no-repeat 0px 0px;
}

#u1016.MuseMenuActive #u1017
{
	background: url("../images/u1017-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1039
{
	z-index: 3;
	width: 858px;
	height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	margin-top: 22px;
	position: relative;
}

#u1037-4
{
	z-index: 4;
	width: 370px;
	min-height: 35px;
	background-color: transparent;
	letter-spacing: 3px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-left: 244px;
	margin-top: 38px;
	position: relative;
}

#u1037-2
{
	padding-left: 6px;
}

#pu1041
{
	width: 0.01px;
	margin-left: 195px;
	margin-top: 39px;
}

#u1041
{
	z-index: 2;
	width: 467px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 7px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1040-26
{
	z-index: 40;
	width: 410px;
	min-height: 463px;
	background-color: transparent;
	letter-spacing: 2px;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 29px;
}

#buttonu1034
{
	z-index: 66;
	width: 180px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 446px;
	left: 142px;
}

#buttonu1034:hover
{
	background-color: #545454;
	width: 180px;
	min-height: 0px;
	margin: 446px -10000px 0px 0px;
}

#buttonu1034.ButtonSelected
{
	background-color: #CACACA;
	width: 180px;
	min-height: 0px;
	margin: 446px -10000px 0px 0px;
}

#u1035-4
{
	z-index: 67;
	width: 88px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	font-size: 14px;
	text-align: center;
	color: #3C3C3C;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 46px;
}

#buttonu1034:hover #u1035-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1034.ButtonSelected #u1035-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1034:hover #u1035-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1034.ButtonSelected #u1035-4 p
{
	color: #3C3C3C;
	visibility: inherit;
}

#u1109
{
	z-index: 71;
	width: 435px;
	height: 2px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	left: 17px;
}

#u1036-4
{
	z-index: 36;
	width: 159px;
	min-height: 16px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 347px;
	margin-top: 37px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

